@import url('styles.css');

.startup-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .startup-container__top {
        height: 100vh;

        video {
            height: 80vh;
            width: 100%;
            object-fit: cover; // use "cover" to avoid distortion
            position: absolute;
            z-index: 0;
        }

        .gradient-layout {
            width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            height: 50vh;
            background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, var(--jigswap-black) 60%);
        }
    }

    .startup-container__elements {
        width: 100%;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        gap: 2rem;

        h1 {
            text-align: center;
            color: white;
        }

        .startup-container__buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1rem;

            a {
                padding: 1rem;
                border-radius: 0.5rem;
                text-decoration: none;
                font-weight: 800;
                font-size: 1.3rem;
                
                &.signup-button {
                    background-color: var(--jigswap-yellow);
                    color: var(--jigswap-black);
                }

                &.login-button {
                    border: solid 1px var(--jigswap-yellow);
                    color: var(--jigswap-yellow);
                }
            }
        }
    }

}