@import url('styles.css');

.signup-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .signup-container__top {
        @supports (-webkit-touch-callout: none) {
            padding-top: 5vh;
          }
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--jigswap-yellow);
    }
}